* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
   height: 100vh;
}

.profile__image {
   border-radius: 50%;
}

.profile__image img {
   border-radius: 50%;
   width: 50px;
}

.profile__name {
   font-size: 22px;
}

.nav-header {
   height: 155px;
}

.nav-header__text {
   font-weight: bold;
   font-size: 48px;
}

.nav-header__item span:nth-child(1) {
   font-size: 32px;
   cursor: pointer;
   text-align: center;
}

.nav-header__item span:hover {
   border-bottom: 2px solid green;
}

.nav-header__item span:nth-child(2) {
   font-size: 28px;
   font-weight: bolder;
   cursor: pointer;
}

.menu {
   font-size: 20px;
}

.form-control, .input-group-text {
   border-color: gray;
}

.form-control input:focus {
   border: none;
   border-style: none;
}